@font-face {
    font-family: 'HarmonyOS';
    src: url('../../../public/fonts/HarmonyOS.woff2');
}
@font-face {
    font-family: 'HarmonyOS_bold';
    src: url('../../../public/fonts/HarmonyOS_b.woff2');
}